<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<event name="item:added">
				<handler type="Sitecore.Modules.EventManager.Events.ItemEventHandler, Sitecore.Modules.EventManager" method="OnItemAdded" />
			</event>
		</events>
		<pipelines>
			<FindEventRoots>
				<processor type="Sitecore.Modules.EventManager.Pipelines.FindEventRoots,Sitecore.Modules.EventManager" />
			</FindEventRoots>
		</pipelines>
		<settings>
			<setting name="EventManager.RootTemplateId"  value="{2B7D0B4B-009D-4464-BA5F-BE92CA5F9DA6}" />
			<setting name="EventManager.EventTemplateId" value="{2D4455E9-FDB6-4ED9-8298-49AA62A83AB3}" />
		</settings>
	</sitecore>
</configuration>