<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<event name="item:added">
				<handler type="Sitecore.Modules.EventManager.Events.ItemEventHandler, Sitecore.Modules.EventManager" method="OnItemAdded" />
			</event>
			<event name="eventmanager:registeruser" help="Receives an argument of type RegisterUserEventArgs">

				<!--<handler type="Sitecore.Modules.EventManager.Events.RegisterUser, Sitecore.Modules.EventManager" method="SendConfimationEmail" />-->
				<handler type="Sitecore.Modules.EventManager.Events.RegisterUser, Sitecore.Modules.EventManager" method="AddUserToAttendeesStore" />
			</event>

			<event name="eventManager:unregisteruser" help="Receives an argument of type UnregisterUserEventArgs">
				<handler type="Sitecore.Modules.EventManager.Events.UnregisterUser, Sitecore.Modules.EventManager" method="RemoveUserToAttendeesStore" />
			</event>
		</events>
		<pipelines>
			<FindEventRoots>
				<processor type="Sitecore.Modules.EventManager.Pipelines.FindEventRoots,Sitecore.Modules.EventManager" />
			</FindEventRoots>
		</pipelines>
		<settings>
			<setting name="EventManager.RootTemplateId"  value="{2B7D0B4B-009D-4464-BA5F-BE92CA5F9DA6}" />
			<setting name="EventManager.EventTemplateId" value="{2D4455E9-FDB6-4ED9-8298-49AA62A83AB3}" />
			<setting name="EventManager.EventBranchId" value="{2D4455E9-FDB6-4ED9-8298-49AA62A83AB3}" />
      <setting name="EventManager.EventRootId" value="{D9555518-935C-4B3F-AF95-81199EAAE65A}" />
		</settings>
		<commands>
			<command name="eventmanager:exportuserlist" type="Sitecore.Modules.EventManager.App.Commands.ExportSignupList, Sitecore.Modules.EventManager.App" />
			<command name="eventmanager:sendconfirmationmail" type="Sitecore.Modules.EventManager.App.Commands.SendConfirmationEmail, Sitecore.Modules.EventManager.App" />
			<command name="eventmanager:unregisteruser" type="Sitecore.Modules.EventManager.App.Commands.UnregisterUser, Sitecore.Modules.EventManager.App" />
		</commands>
	</sitecore>
</configuration>