<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!--<setting name="EventManager.EventTemplateId" value="{7AC4CE54-1D3D-49BD-9BBE-CA6D71834F56}" />-->
			<setting name="EventManager.EventRootId" value="{D9555518-935C-4B3F-AF95-81199EAAE65A}" />
		</settings>
	</sitecore>
</configuration>